@media print,screen {

	body {
		background-color: #d0d0d0;
		font-family: Helvetica;
		font-size: 16px;
		margin: 0;
		margin-top: 8px;
	}

	#page_content {
		margin-left: auto;
		margin-right: auto;
		width: 60%;
		min-width: 600px;
		padding: 0;
		position: relative;
		overflow: hidden;

		/*background-color: #000*/
	}

	.no_display {
		display: none;
	}

	.task_column {
		width: 50%;
		min-height: 400px;
		height: auto;
		margin: 0;
		padding: 0 1em;
		position: relative;

		display: inline-block;
		vertical-align:top;
		box-sizing:border-box;
		-moz-box-sizing:border-box;
		-webkit-box-sizing:border-box;

		background-color: #fff;
		border: 2px solid #a0a0a0;
	}

	.task_column h1 {
		text-align: center;
	}

	.task_column li{
		padding-left: 4em;

		list-style-type: none;
		/*cursor: pointer;*/
	}

	.li_container {
		cursor: pointer;
	}

	#task_column_bottom{
		bottom: 0;
	}

	.checked{
		color: #33a000;
	}

	.li_marker{
		position: absolute;
		left: 4em;
	}

	.li_edit{
		position: absolute;
		left: 1em;
		cursor: pointer;
		/*font-size: .5em;*/
	}

	.li_edit:hover{
		color: #a03000;
	}

	.li_move{
		position: absolute;
		left: 2em;
		cursor: pointer;
	}

	.li_move:hover{
		color: #a03000;
	}

	.li_move.down{
		left: 3em;
	}

	.li_move span{
		font-size: .8em;
	}

	.task_column ul{
		padding-left: 0em;
	}

	#right {
		/*position: fixed;*/
		float:right;
	}

	.task_comment {
		font-size: .7em;
	}

	.task_creator {
		margin-left: 1em;
	}

	.task_name_editor {
		width: 100%;
		max-width: 100%;
		height: 2.1em;
		min-height: 1em;
		max-height: 3em;

		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
	}

	.task_comment_editor {
		width: 100%;
		max-width: 100%;
		height: 6em;
		max-height: 13em;

		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
	}

	.task_editor_button {
		font-size: .7em;
		padding: .1em;
	}

	.subtask_editor {
		padding-left: 2em;
	}

	#task_new_button {
		font-size: 1.2em;
	}

	#task_new_container {
		text-align: center;
	}

	.task_server_status {
		line-height: 2em;
		font-size: .8em;
	}

}
